<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartfitness.demo.mapper.EquipmentsMapper">

	<!-- 기구 추가 -->
	<insert id="addEm" parameterType="com.smartfitness.demo.model.Equipments">
		insert into sf_equipments values(null,#{em_name},#{em_video},#{em_part},#{em_type},#{em_img})
	</insert>

	<!-- 기구 전체 확인 -->
	<select id="selectAll" resultType="com.smartfitness.demo.model.Equipments">
		select * from sf_equipments
	</select>
	
	<!-- 기구 타입 별 조회 -->
	<select id="selectF" resultType="com.smartfitness.demo.model.Equipments">
		select * from sf_equipments where em_type like '%f%'
	</select>
	<select id="selectM" resultType="com.smartfitness.demo.model.Equipments">
		select * from sf_equipments where em_type like '%m%'
	</select>
	<select id="selectC" resultType="com.smartfitness.demo.model.Equipments">
		select * from sf_equipments where em_type like '%c%'
	</select>

	<!-- 기구 수정 -->
	<update id="updateEm" parameterType="java.util.HashMap">
		update sf_equipments
		set em_name=#{em_name},em_video=#{em_video},em_part=#{em_part},em_type=#{em_type},em_img=#{em_img}
		where em_seq=#{em_seq}
	</update>

	<!-- 선택한 기구의 예약 가능 여부 확인 -->	
	<select id="selectCurrEm" parameterType="int" resultType="java.util.HashMap">
		select * from current_equipments where em_seq=#{em_seq} and ce_switch="O";
	</select>
	
	
	<!-- 예약 -->
	<update id="reservEmStatus" parameterType="java.util.HashMap">
		update current_equipments
		set ce_#{time} = "N"
		where ce_#{time} = "Y"
		and em_seq=#{em_seq}
	</update>
	<insert id="reservEm" parameterType="java.util.HashMap">
		insert into reserv_equipments values(null,#{mem_id},#{em_seq},now(),#{time})
	</insert>
	
	<!-- 예약 취소 -->
	<delete id="cancelEmReserv" parameterType="java.util.HashMap">
		delete from reserv_equipments where reserv_em_time=#{time}
	</delete>
	<update id="cancelEmStatus" parameterType="java.util.HashMap">
		update current_equipments
		set ce_#{time} = "Y"
		where ce_#{time} = "N"
		and em_seq=#{em_seq}
	</update>
	
	<!-- 멤버의 예약내역 확인 -->
	<select id="rsvAll" resultType="java.util.HashMap">
		select *
		from reserv_equipments
		where mem_id = #{mem_id}
	</select>
	
	<!-- 기구 번호로 이름 찾기 -->
	<select id="selectEmName" resultType="String">
		select em_name
		from sf_equipments
		where em_seq=#{em_seq}
	</select>
	
</mapper>