<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartfitness.demo.mapper.ProgramsMapper">

	<insert id="programAdd" parameterType="com.smartfitness.demo.model.Program">
		insert into sf_programs values(null,#{pg_name},#{pg_info},#{pg_img1},#{pg_img2})
	</insert>
</mapper>